@use '@angular/material' as mat;

html {
  color-scheme: light;

  @include mat.theme(
    (
      color: (
        primary: mat.$green-palette,
        tertiary: mat.$azure-palette,
      ),
      typography: (
        plain-family: var(--mo-font-family),
        brand-family: var(--mo-font-family),
      ),
      density: 0,
    )
  );
}

// Compact density for dense admin tables.
.mo-dense {
  @include mat.theme(
    (
      density: -2,
    )
  );
}
